/* スマホ用のCSSはメディアクエリの外に記述する */
body{
    /* background-image : url(./message_background.png); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
    background-color: rgb(245, 233, 219);
}
.header .footer{
    height: 100%;
    width: 100%;
    text-align: center;
}

.header img, .footer img{
    width: 380px;
}
.header-photo {
    margin: 10px auto;
}
.header-photo img {
    width: 346px;
    height: auto;
    display: block;
    margin: 10px auto;
}
h1{
    font-family: 'Parisienne', cursive;
    font-weight: 100;
    font-size: 45px;
    text-align: center;
    margin: 20px auto;
    color: rgb(81, 96, 77);
}
p{
    text-align: left;
    margin: 0 20px;
    color: rgb(81, 96, 77);
}

.contents-message {
    height: 300px;
    margin-top: 20px;
}

.message {
    width: 200px;
    font-size: 14px;
    font-family: serif;
}

.organizer_name {
    text-align: right;
}

.name {
    text-align: left;
}


.text {
    white-space: pre-line;
}
.message p{
    margin: 5px;
}

.message-leaf {
    width: 160px;
    position: relative;
}

.message-leaf img{
    width: 160px;
    position: absolute;
    bottom: 0;
}

@media screen and (min-width: 481px) {
	/* 481px以上に適用されるCSS（タブレット用） */
}
@media screen and (min-width: 960px) {
	/* 960px以上に適用されるCSS（PC用） */
}