<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Sample App</title>
</head>
<body>
  <h2>ユーザー追加</h2>
  <form method="post" action="/new">
    <p>名前(ひらがな)</p>
    <input type="text" name="name" size="30" placeholder="入力してください" required>
    <p>呼び名(様などが必要な場合は末尾につけること)</p>
    <input type="text" name="name_kanji" size="30" placeholder="入力してください" required>
    <p>新郎or新婦</p>
    <input type="radio" name="organizer_name" value="啓輔">啓輔
    <input type="radio" name="organizer_name" value="槻歩" checked>槻歩
    <p>パスワード</p>
    <input type="password" name="password" size="30" value="1" required>
    <p>メッセージ</p>
    <textarea name="message" rows="4" cols="40" required></textarea>
    <p><input type="submit" value="Send"></p>
  </form>

  <h2>ユーザー一覧</h2>
  <table border="1">
    <tr>
      <td>名前(ひらがな)</td>
      <td>呼び名</td>
      <td>新郎or新婦</td>
      <td>メッセージ</td>
      <td>パスワード</td>
      <td>編集</td>
      <td>削除</td>
    </tr>
    {{ range .result }}
      <tr>
        <form id="edit{{.ID}}" action="/update" method="post">
          <input type="hidden" name="id" value="{{ .ID }}">
          <td><input type="text" name="name" value="{{ .Name }}"></td>
          <td><input type="text" name="name_kanji" value="{{ .NameKanji }}"></td>
          <td>
            "{{ .OrganizerName }}"
          </td>
          <td><textarea name="message" rows="4" cols="30" required>{{ .Message }}</textarea></td>
          <!-- <td><input type="text" name="message" value="{{ .Message }}"></td> -->
          <td><input type="text" name="password" value="{{ .Password }}"></td>
        </form>
        <td><button form="edit{{.ID}}" type="submit">編集</button></td>
        <td>
          <form method="post" action="/delete_kassi">
            <input type="hidden" name="id" value="{{.ID}}">
            <input type="hidden" name="pass" value="kkdai">
            <button type="submit">削除</button>
          </form>
        </td>
      </tr>
    {{ end }}
  </ul>
  </body>
</html>