<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>大熊＆川下結婚式</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/login.css" >
</head>
    <body>
        <div class="container text-center">
            <h1 class="title">Thanks!</h1>
            <img src="../assets/login.jpeg" class="rounded mx-auto d-block">
            <form method="post" action="/message">
                {{ if eq .error "false" }}
                <div class="alert alert-danger mt-1" role="alert">
                    お名前が間違っています。
                </div>
                {{ end }}
                <div class="form-group form-input name-input">
                    <label class="font-text">お名前をスペースなしのひらがなでご入力ください。</label>
                    <input type="text" name="name" class="form-control font-text" aria-describedby="emailHelp" placeholder="例：おおくまけいすけ">
                </div>
                <input type="hidden" name="password" class="form-control" value="1">
                <button type="submit" class="btn btn-primary font-text">開く</button>
            </form>
        </div>
    </body>
</html>